<div class="card">
  <div class="card-block">
    <%= render "_form.html", conn: @conn, changeset: @changeset, event: @event,
                        action: classroom_feedback_path(@conn, :create, @event) %>
  </div>
</div>