<%= if get_flash(@conn, :info) do %>
  <br>
  <div class="ui info message"><%= get_flash(@conn, :info) %></div>
<% end %>
<%= if get_flash(@conn, :error) do %>
  <br>
  <div class="ui error message"><%= get_flash(@conn, :error) %></div>
<% end %>
