<!DOCTYPE html>
<html lang="en">
<%= render "_head.html", conn: @conn %>
<body>
  <%= render "classroom_navigation.html", conn: @conn %>
  <%= render "classroom_sidebar.html", conn: @conn %>
  <div class="container-fluid container-main-sidebar-left">
    <div class="spacer"></div>
    <main role="main">
      <%= render "_flash_messages.html", conn: @conn %>

      <%= render @view_module, @view_template, assigns %>
    </main>
  </div> <!-- /container -->
  <%= render "_modal.html" %>
</body>
</html>
