<!DOCTYPE html>
<html lang="en">
<%= render "_head.html", conn: @conn %>
<body>
  <%#= render "classroom_navigation.html", conn: @conn %>

  <div class="ui bottom attached segment pushable">
    <%= render "classroom_sidebar.html", conn: @conn %>
    <div class="pusher">
      <div class="ui basic segment">
        <%= render @view_module, @view_template, assigns %>
      </div>
    </div>
  </div>

  <%= render "_modal.html" %>
</body>
</html>
