<!DOCTYPE html>
<html lang="en">
<%= render "_head.html", conn: @conn %>
<body>
  <%= render "superadmin_navigation.html", conn: @conn %>
  <%= render "superadmin_sidebar.html", conn: @conn %>
  <div class="container container-main-sidebar-left">
    <main role="main">
      <%= render "_flash_messages.html", conn: @conn %>
      <%= render @view_module, @view_template, assigns %>
    </main>
  </div> <!-- /container -->
  <%= render "_modal.html" %>
</body>
</html>
