<div class="row">
  <div class="col-sm-8 col-md-6">
    <%= render "_form.html", conn: @conn, changeset: @changeset, event: @event,
                        action: classroom_chat_message_path(@conn, :create, @event) %>
  </div>
</div>