<%= link "New Task", to: classroom_task_path(@conn, :new, @event), class: "btn btn-primary mb-1" %>

<%= for task <- @tasks do %>
  <%= render "_task.html", conn: @conn, event: @event, task: task %>
<% end %>

<%= if length(@tasks) == 0 do %>
<div class="card">
  <div class="card-block">
    No Tasks available
  </div>
</div>
<% end %>

<%= link "New Task", to: classroom_task_path(@conn, :new, @event), class: "btn btn-primary" %>

