<%= link "Neue Aufgabe", to: classroom_task_path(@conn, :new, @event), class: "btn btn-primary m-b-1" %>

<%= for task <- @tasks do %>
  <%= render "_task.html", conn: @conn, event: @event, task: task %>
<% end %>

<%= link "Neue Aufgabe", to: classroom_task_path(@conn, :new, @event), class: "btn btn-primary" %>

