<%= render "_form.html", conn: @conn, changeset: @changeset,
                        action: classroom_event_path(@conn, :update, @event) %>


<%= link "Delete", to: classroom_event_path(@conn, :delete, @event), method: :delete,
                   data: [toggle: "modal", target: "baseModal"], class: "btn btn-danger btn-sm" %>