@import "bootstrap_variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/codemirror/lib/codemirror";
@import "codemirror";
@import "sidebar-nav";

.navbar-light {
  background: #fff;
    border-bottom: 1px solid #dbe2e8;
    box-shadow: inset 0 0 0 0 #dbe2e8,0 2px 1px 0 rgba(47,61,73,.05);
    color: #2e3d49;
}

.bg-light {
    background:#fcfcfc;
}

// This is a fix for phoenix form helpers
form.link {
  display: inline-block;
}

// Spacing from fixed navbar and main content
main {
  margin-top: 72px;
}

// absolute positionated chat reply box
.chat-reply {
  position: fixed;
  bottom: 0px;
  left: $sidebar-width;
  right: 0px;
  background-color: #fcfcfc;
  padding: 5px ($grid-gutter-width-base / 2);
}
