@import "bootstrap_variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "sidebar-nav";

// This is a fix for phoenix form helpers
form.link {
  display: inline-block;
}

// Spacing from fixed navbar and main content
main {
  margin-top: 72px;
}

// absolute positionated chat reply box
.chat-reply {
  position: fixed;
  bottom: 0px;
  left: $sidebar-width;
  background-color: #fff;
  padding: 5px ($grid-gutter-width / 2);
}