<div class="row">
  <div class="col-md-6">
    <%= render "_attending_events.html", conn: @conn, events_as_attendee: @events_as_attendee %>
    <%= render "_open_invitations.html", conn: @conn, open_invitations: @open_invitations %>
  </div>
  <div class="col-md-6">
    <%= render "_own_events.html", conn: @conn, events_as_owner: @events_as_owner %>
  </div>
</div>
