<table class="table">
  <tr>
    <th>User</th>
    <th>Role</th>

    <th></th>
  </tr>
  <%= for membership <- @memberships do %>
    <tr>
      <td><%= membership.user.email %></td>
      <td><%= membership.role.name %></td>

      <td>
        <%= link "Delete", to: classroom_membership_path(@conn, :delete, membership), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-sm" %>
      </td>
    </tr>
  <% end %>
</table>
